{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block stylesheet %}
    {{ parent() }}
    {{ encore_entry_link_tags('account') }}
{% endblock %}

{% block body %}
    <div class="content-center cl-white">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-4 col-md-6 col-sm-12">
                <div class="account-form">
                    <div class="title">
                        <h3>Create your account</h3>
                    </div>
                    <div class="login-via">
                        <a class="facebook-bg" href="#">
                            <i class="fa fa-facebook"></i> 
                            Signup with Facebook
                        </a>
                        <a class="google-bg" href="#">
                            <i class="fa fa-google"></i> 
                            Signup with Google
                        </a>
                    </div>
                    {{ form_start(registrationForm) }}
                        <div class="row">
                            <div class="col-xl-6">
                                {{ form_row(registrationForm.firstName) }}
                            </div>
                            <div class="col-xl-6">
                                {{ form_row(registrationForm.lastName) }}
                            </div>
                            <div class="col-xl-12">
                                {{ form_row(registrationForm.username) }}
                            </div>
                            <div class="col-xl-12">
                                {{ form_row(registrationForm.email) }}
                            </div>
                            <div class="col-xl-12">
                                {{ form_row(registrationForm.plainPassword)}}
                            </div>
                            <div class="col-xl-12">
                                {{ form_row(registrationForm.agreeTerms) }}
                            </div>
                            <div class="col-xl-12">
                                <p>By signing up to prediction game you confirm that you agree with the <a href="">member terms and conditions</a></p>
                            </div>
                            <div class="col-xl-12">
                                <button type="submit" class="btn btn-fill w-100">Create my account</button>
                            </div>
                            <div class="col-xl-12">
                                <p><a href="{{ path('app_login') }}">Do you already have an account?</a></p>
                            </div>
                        </div>
                    {{ form_end(registrationForm) }}
                </div>
            </div>
        </div>
    </div>
   
{% endblock %}