{% extends 'base.html.twig' %}

{% block title %}Statistics{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-body">
            {% if match is same as null %}
                <p class="text-center mb-0">Match statistics currently unavailable.</p>
            {% else %}
                <div class="card mb-4">
                    <div class="card-body">
                        <p class="text-center mb-0">{{ match.date|date('d.m.Y H:i:s') }}</p>
                        <p class="text-center mb-0">{{ match.homeTeamName }} - {{ match.awayTeamName }}</p> 
                        <p class="text-center mb-0">
                            {{ match.fullTimeHomeTeamScore ?? '-'}}:{{ match.fullTimeAwayTeamScore ?? '-'}}
                        </p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th class="text-center" colspan="2">Head2Head Statistics</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Total matches:</td>
                                    <td>{{ match.head2head.numberOfMatches }}</td>
                                </tr>
                                <tr>
                                    <td>Total goals:</td>
                                    <td>{{ match.head2head.totalGoals }}</td>
                                </tr>
                                <tr>
                                    <td>Avg goals / match:</td>
                                    <td>{{ (match.head2head.totalGoals / match.head2head.numberOfMatches)|round(1) }}</td>
                                </tr>
                                <tr>
                                    <td class="fw-bold">{{ match.homeTeamName }}</td>
                                </tr>
                                <tr>
                                    <td>Wins:</td>
                                    <td>{{ match.head2head.homeTeamWins }}({{ (match.head2head.homeTeamWins / match.head2head.numberOfMatches * 100) | round }}%)</td>
                                </tr>
                                <tr>
                                    <td>Draws:</td>
                                    <td>{{ match.head2head.homeTeamDraws }}({{ (match.head2head.homeTeamDraws / match.head2head.numberOfMatches * 100) | round }}%)</td>
                                </tr>
                                <tr>
                                    <td>Losses:</td>
                                    <td>{{ match.head2head.homeTeamLosses }}({{ (match.head2head.homeTeamLosses / match.head2head.numberOfMatches * 100) | round }}%)</td>
                                </tr>
                                <tr>
                                    <td class="fw-bold">{{ match.awayTeamName }}</td>
                                </tr>
                                <tr>
                                    <td>Wins:</td>
                                    <td>{{ match.head2head.awayTeamWins }}({{ (match.head2head.awayTeamWins / match.head2head.numberOfMatches * 100) | round }}%)</td>
                                </tr>
                                <tr>
                                    <td>Draws:</td>
                                    <td>{{ match.head2head.awayTeamDraws }}({{ (match.head2head.awayTeamDraws / match.head2head.numberOfMatches * 100) | round }}%)</td>
                                </tr>
                                <tr>
                                    <td>Losses:</td>
                                    <td>{{ match.head2head.awayTeamLosses }}({{ (match.head2head.awayTeamLosses / match.head2head.numberOfMatches * 100) | round }}%)</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
