<div class="card">
    <div class="card-header">
        <h3 class="card-title">{{ competitionName ~ ' ' ~ season }}</h3>
        <p class="card-text">Results</p>
    </div>
    <div class="card-body">
        <table class="table table-borderless">
            <tbody>
                {% for round, matches in roundMatches %}
                    <tr>
                        <td class="round" colspan="4">{{ round|title|replace({'_': ' '}) }}</td>
                    </tr>
                    {% for match in matches %}
                        <tr>
                            {% if match.stage is same as 'GROUP_STAGE' %}
                                <td>{{ match.group|title|replace({'_': ' '}) }}</td>
                            {% else %}
                                <td></td>
                            {% endif %}
                            <td>{{ match.utcDate|date('d.m.Y H:i:s') }}</td>
                            <td>{{ match.homeTeamName ~ ' - ' ~ match.awayTeamName }}</td>
                            <td>
                                {{ match.homeTeamFullTimeScore ~ ':' ~ match.awayTeamFullTimeScore }}
                                ({{ match.homeTeamHalfTimeScore ~ ':' ~ match.awayTeamFullTimeScore }})
                            </td>
                        </tr>
                    {% endfor %}
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>