<h1>{{ competitionSchedule.competition.area.name }} - {{ competitionSchedule.competition.name }}</h1>
{% set currentMatchday = false %}
{% for match in competitionSchedule.matches %}
    {% if currentMatchday is not same as match.matchday %}
        {% set currentMatchday = match.matchday %}
        <p>{{ currentMatchday }}</p>
    {% endif %}
    <p>
        {{ match.utcDate|date('d.m.Y') }} - {{ match.homeTeam.name }} - {{ match.awayTeam.name }}
    </p>
    <p></p>
{% endfor %}