<div class="card">
    <div class="card-header">
        <h3 class="card-title">{{ competitionName  ~ ' ' ~ season }}</h3>
        <p class="card-text">Table</p>
    </div>
    <div class="card-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th></th>
                    <th>Team</th>
                    <th>Points</th>
                    <th>Matches</th>
                    <th>Won</th>
                    <th>Draw</th>
                    <th>Lost</th>
                    <th>Goals</th>
                    <th>+/-</th>
                </tr>
            </thead>
            <tbody>
                {% for standings in competitionStandings.standings %}
                    {% if standings.group is not null and standings.table is not empty %}
                        <tr>
                            <td colspan="10">{{ standings.group }}</td>
                        </tr>
                    {% endif %}
                    {% for table in standings.table %} 
                        <tr>
                            <td>{{ table.position }}</td>
                            <td>
                                {% if table.team.crestUrl is not same as null and table.team.crestUrl is not empty %}
                                <img src="{{ table.team.crestUrl }}" alt="{{ table.team.name }} logo" style="width: 25px">
                                {% endif %}
                            </td>
                            <td>{{ table.team.name }}</td>
                            <td>{{ table.points }}</td>
                            <td>{{ table.playedGames }}</td>
                            <td>{{ table.won }}</td>
                            <td>{{ table.draw }}</td>
                            <td>{{ table.lost }}</td>
                            <td>{{ table.goalsFor ~ ':' ~ table.goalsAgainst }}</td>
                            <td>{{ table.goalDifference }}</td>
                        </tr>
                    {% endfor %}
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>