<div class="card">
    <div class="card-header">
        <h3 class="card-title">{{ competitionName  ~ ' ' ~ season }}</h3>
        <p class="card-text">Table</p>
        <a class="btn btn-secondary" href="{{ path('app_table', {'id': competitionId}) }}">Total</a>
        <a class="btn btn-secondary" href="{{ path('app_table', {'id': competitionId, 'standingType': 'HOME'}) }}">Home</a>
        <a class="btn btn-secondary" href="{{ path('app_table', {'id': competitionId, 'standingType': 'AWAY'}) }}">Away</a>
    </div>
    <div class="card-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th></th>
                    <th>Team</th>
                    <th>Points</th>
                    <th>Matches</th>
                    <th>Form</th>
                    <th>Won</th>
                    <th>Draw</th>
                    <th>Lost</th>
                    <th>Goals</th>
                    <th>+/-</th>
                </tr>
            </thead>
            <tbody>
                {% if competitionStandings is empty %}
                    <tr>
                        <td colspan="10">Currently no standings available.</td>
                    </tr>
                {% else %}
                    {% set foo = null %}
                    {% for table in competitionStandings %}
                        {% if table.group is not null %}
                            {% if table.group is not same as foo %}
                                <tr>
                                    <td colspan="11">{{ table.group|title|replace({'_': ' '}) }}</td>
                                </tr>
                                {% set foo = table.group %}
                            {% endif %}
                        {% endif %}
                        <tr>
                            <td>{{ table.position }}</td>
                            <td>
                                {% if table.teamCrest is not same as null and table.teamCrest is not empty %}
                                <img src="{{ table.teamCrest }}" alt="{{ table.teamName }} logo" style="width: 25px">
                                {% endif %}
                            </td>
                            <td>{{ table.teamName }}</td>
                            <td>{{ table.points }}</td>
                            <td>{{ table.playedGames }}</td>
                            <td>{{ table.form }}</td>
                            <td>{{ table.won }}</td>
                            <td>{{ table.draw }}</td>
                            <td>{{ table.lost }}</td>
                            <td>{{ table.goalsFor ~ ':' ~ table.goalsAgainst }}</td>
                            <td>{{ table.goalDifference }}</td>
                        </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </div>
</div>