{% extends 'base.html.twig' %}

{% block title %}Prediction rounds{% endblock %}

{% block menu %}
   {{ include('_nav_menu.html.twig') }}
{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">{{ competitionName }}</h3>
            <p class="card-text">Prediction rounds.</p>
        </div>
        <div class="card-body">
            <ul class="list-group list-group-flush">
                {% for round in rounds %}
                    <li class="list-group-item">
                        <a class="card-link row" href="{{ path('app_prediction_round', {'id': competitionId, 'round': round.name}) }}">
                            <span class="col-4 text-start">
                                <div class="circle circle-{{ round.status|lower }}"><div class="status-{{ round.status|lower }}"></div></div>
                                {% if round.name matches '/^\\d+$/' %}
                                    {{ 'Round #' ~ round.name}}
                                {% else %}
                                    {{ round.name|replace({'_': " "})|lower|capitalize }}
                                {% endif %}
                            </span>
                            <span class="col-4 text-center">{{ round.dateFrom|date('d.m') ~ ' - ' ~ round.dateTo|date('d.m') }}</span>
                            <span class="col-4 text-end">{{ round.matches }}</span>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

{% endblock %}
