<ul class="dropdown-menu" aria-labelledby="multilevelDropdownMenu1">
    {% for round, value in roundInfo %}
        <li>
            <a class="dropdown-item" href="{{ path('app_prediction_round', {'id': competitionId, 'round': round}) }}">
                <div class="circle circle-{{ value.status|lower }}"><div class="status-{{ value.status|lower }}"></div></div>
                {% if round matches '/^\\d+$/' %}
                    {{ 'Round #' ~ round}}
                {% else %}
                    {{ round }}
                {% endif %}
            </a>
        </li>
    {% endfor %}
</ul>